

#intro{
    background-color: #e94057;
    width: 600px;
    margin: auto;
    margin-top: 150px;
    
}

#intro h1,p{
    color: rgb(255, 250, 251) ;
}



#contenido{
    padding: 30px;

}

#chat{
    background-color:  #c4c0c18a; 
    border: 1px solid black
    
}



#mensaje{
    list-style-type: none;
    background-color: rgba(220, 20, 60, 0.651);
    padding: 20px;
    min-width: 300px;
    max-width: min-content;
    margin: 5px 0px 5px 0px;
    border-radius: 30px;
    font-size: 20px;
    text-align: right;
    max-height: min-content;
    
    
}


#messages{
    margin:2px; 
}

#messages,#channelList,#inbox {
    overflow: auto ;
  }
    
    
#hora{
    font-size: 15px;
    color: #55131cc5;;
}

#name{
    color: rgb(14, 3, 4)
}

#msg{
    color: #d3cecf;
}


.titulos{
    color: crimson;
}



.lista{
    list-style-type: none;
    padding: 5px;
    color:  rgb(10, 3, 4);
    font-size: 20px;
    text-align: center;
    
}

.lista:hover{
    background-color: crimson
     
}

#Anuncio{
    list-style-type: none;
    background-color: crimson;
    padding: 10px;
    min-width: 300px;
    max-width: min-content;
    margin: 5px 0px 5px 0px;
    border-radius: 15px;
    font-size: 15px;
    text-align: right;
    height: 35px;
    
    
}
